html {
    background-color: #00539F;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 1200px;
    margin: 0 auto;
    background-color: #FF9500;
    border: 5px solid black;
    padding: 0 20px 20px 20px;
}

h1 {
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-align: center;
}

img {
    display: block;
    width: 600px;
    margin: 0 auto;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
